<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>«{{ title or ky_surah.title }}» сүрөсү</title>

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">

  <link rel="stylesheet" type="text/css" href="font.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
    .note {
      cursor: pointer;
      color: green;
    }
    .note > sub {
      text-decoration: underline;
      vertical-align: top;
    }
    .note > span {
      display: none;
    }
    .content > ol > li {
      margin-bottom: 1rem;
    }
    .content > ol > li > .original {
      float: right;
      direction: rtl;
      text-align: right;
      line-height: 2.6rem;
      font-size: 1.3rem;
      width: 100%;
    }
    .content > ol > li > .translate {
    }
  </style>
</head>
<body>
  {% set ns = namespace(note_id=1) %}
  <div class="title">
    <div>
      <h1>سُورَةُ {{ surah.title }}<br>
        «{{ ky_surah.title }}
        {%- if ky_surah.title_note -%}
        <a class="note" title="{{ ky_surah.title_note }}" onclick="toggleNote(this)"><sub>[{{ ns.note_id }}]</sub><span>{ {{- ky_surah.title_note -}} }</span></a>
        {%- set ns.note_id = ns.note_id + 1 -%}
        {%- endif -%}» сүрөсү
      </h1>
    </div>
    <p class="subtitle">{{ ky_surah.revelation_place+('де' if ky_surah.revelation_place == 'Мекке' else 'да') }} түшкөн.
      {{ verses_count_text|capitalize or ky_surah.verses_count }} айаттан турат.</p>
    {% if ky_surah.bismillah_pre %}
    <h2 class="bismillah">{% if BISMILLAH_LITERAL %}{{ BISMILLAH_LITERAL }}{% else %}﷽{% endif %}</h2>
    <h2 class="bismillah">Мээримдүү, Ырайымдуу Аллахтын аты менен</h2>
    {% endif %}
  </div>
  <div class="content">
    <ol>
    {% for verse, ky_verse in zip(surah.verses, ky_surah.verses) %}
      <li class="verse">
        <span class="original">
          {{- verse.text -}}
        </span>
        <br>
        <span class="translate">
          {%- for note in ky_verse.notes -%}
            {%- if loop.first -%}
              {{ ky_verse.text[0:note.text_position] }}
            {%- else -%}
              {{ ky_verse.text[loop.previtem.text_position:note.text_position] }}
            {%- endif -%}
            <a class="note" title="{{ note.text }}" onclick="toggleNote(this)"><sub>[{{ ns.note_id }}]</sub><span>{ {{- note.text -}} }</span></a>
            {%- set ns.note_id = ns.note_id + 1 -%}
            {%- if loop.last -%}
              {{ ky_verse.text[note.text_position:] }}
            {%- endif -%}
          {%- else -%}
            {{ ky_verse.text }}
          {%- endfor -%}
        </span>
        {% if not loop.last %}<hr>{% endif %}
      </li>
    {% endfor %}
    </ol>
  </div>
  <script type="text/javascript">
    function toggleNote(e) {
      var textSpan = e.children[1];
      if (!textSpan.style.display || textSpan.style.display === 'none') {
        textSpan.style.display = 'inline';
      } else {
        textSpan.style.display = 'none';
      }
    }
  </script>
</body>
</html>